*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

header{
    height: 70vh;
    background-image: url(img2.jpg);
    background-size: cover;
  background-position: top;
  padding: 10px;
  
  
}

header #child1{
    display: flex;
}
header #child1 img{
    width: 200px;
   
    
}
nav{
    display: flex;
    justify-content:end;
    width: 100%;
    
}
ul{
    display: flex;
    gap: 20px;
    background-color: rgba(79, 78, 78, 0);
    margin-right: 10%;
}
ul li{
    display: inline;
    
    
}

ul li a{
    color: rgba(255, 255, 255, 0.836);
    font-size: large;
    text-decoration: none;
    
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px 8px;
    transition: all .5s;
    
}
ul li a:hover{
    background-color: rgba(73, 76, 76, 0.943);
    border-radius: 5px; 
}


/* ------------------------------------------ */

#child_head_line{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#pone{
    color: rgb(197, 179, 179);
    font-size: smaller;
    letter-spacing: 8px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 50px;
}
#pone::before{
    content: '';
    border: 1px solid #ddd;
    width: 200px;
    
    
    position: absolute;
    position:absolute ;
    right: 350px; 
    top: 50%; 
    
}
#pone::after{
    content: '';
    border: 1px solid #ddd;
    width: 200px;
    
    
    position: absolute;
    position:absolute ;
    left: 350px; 
    top: 50%; 
    
}




span{
    color: rgba(255, 166, 0, 0.702);
}
h1{
    font-size:60px;
    color: white;
    letter-spacing: 5px;
    
}
.h11{
    margin-top: 30px;
    margin-bottom: 20px;
    
}





#peragraph{
    text-align: center;
    margin: 10px;
    
}
#peragraph p{
    color: rgb(151, 153, 156);
    text-transform: capitalize;
}


#a{
 margin-top: 30px;
    
}
.a1,.a2{
margin: 20px;
text-decoration: none;
background-color: #2e2525e8;
padding: 15px 45px;
font-size: larger;
color: rgb(255, 166, 0);
border-radius: 20px;
border: 1px solid rgb(255, 166, 0);
font-weight: 700;
text-transform: capitalize;
}
.a1:hover,.a2:hover{
    background-color: rgba(255, 166, 0, 0.587);
    color: white;
}

.a2:hover{
    background-color: rgba(255, 166, 0, 0.812);
}




#middle{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
#middle img{
    width: 48vw;
}

#under_img{
    margin-top: 0;
    min-height: 500px;
    background-color: #ddd;
}
#under_img h1{
    color: black;
    padding: 50px 0px 50px 50px;
    font-size: 50px;
}
#under_img p{
    color: rgb(78, 76, 76);
    padding: 10px 0px 50px 50px;
    font-size: larger;
    text-transform: capitalize;
    margin-top: 0px;
}
























