button{

  padding: 15px 35px;
  border: none;
  background-color: cadetblue;
  border-radius: 3cap;
  color:rgb(0, 0, 0);
  text-transform: capitalize;
  cursor: pointer;
  margin: 20px auto;
  text-align: center;
  display: block;
}
.dd{
  background-color: cadetblue;
  height: 250px;
  width: 330px;
  border-radius: 3cap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  box-sizing: border-box;
  margin: 20px auto;
}
h1{
  font-size: 2cap;
  color:cornsilk;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}