
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* !------DOM ONE------- */

/* h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.navlink a{
text-decoration: none;
}
ul{
    list-style: none;
}
.text_with{
    font-size: xx-large;
}

.cta{
    background-color: cornflowerblue;
    height: 80px;
    font-size: x-large;
}


#gta{
    background-color: rgb(44, 142, 134);
    height: 150px;
    font-size: xx-large;
} */


/* !------DOM TWO------- */

/*? .main_box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.child_box{
    height: 60px;
    padding: 20px;
    background-color: bisque;
    margin-left: 10px;
    border-radius: 10px;
}
.child_box p{
    text-align: center;
    text-transform: capitalize;

} */


.hero{
    background-color: #00a786b9;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 10px;
    
}
button{
    background-color: #a9f6e0;
    padding: 15px 10px;
    border: 0px;
    box-shadow: 0px 0px 10px 1.4px black;
    border-radius: 6px;
    margin-top: 30px;
    
}
ul{
    margin-top: 30px;
    margin-left: 30px;

}





