body{
  background-color: #111;
}
input, button {
  padding: 10px 20px;
  margin: 1px;
  margin-top: 30px;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3em;
}
button{
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  border: 0.2px solid rgb(56, 50, 50);
}