#my-btn{
    background-color: cadetblue;
    border: none;
    padding: 15px 25px;
    display: block;
    margin: 20px;
    border-radius: 10px;
    transition: 1000ms;
}
#my-btn:hover{
    background-color: rgba(130, 88, 159,1.0);
}
