 h1{
        color: rgb(234, 234, 8);
        text-align: center;
        text-shadow: 0px 0px 5px red;
        
        
        }
        p{
        text-align:left;
        text-indent: 30px;
        letter-spacing: 9px;
        word-spacing: 90px;
        line-height: 90px;

        }
        
        
        h2{
        direction: ltr;
        
        unicode-bidi: bidi-override;
        text-align: center;
         
        }
        a{
           color: rgb(213, 241, 241);
           font-size: xx-large;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration:none;
            padding: 15px 30px;
            background-color: rgba(81, 62, 12, 0.868);
            border-radius: 15px;
            display: block;
            text-align: center;
        }
        a:hover{
            background-color:;
        }
        .w{
            letter-spacing: 2px;
            word-spacing: 3px;
            line-height: 15px;
            white-space:break-spaces;
        }
        h1, h2, p, a {
            text-transform: uppercase;
        }