*, *::after, *::before{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    
}
.img_containar_item{
    width: 96%;
    padding: 10px;
    border-radius: 10px;
    background:#eeededff ;
    margin: 20px auto;
}
.img_containar_item img{
    margin-bottom: 10px;
    border-radius: 5px;
}
.img_containar_item p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}










