body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    font-weight:bolder;
}
#exam div p{
    color: darkslateblue;
}

#exam p{
    color: hotpink;
}
div.test div.child p.pera{
    color: rgb(19, 220, 220);
}
.test div.child p.pera{
    color: rgb(105, 35, 49);
}

.child p.pera{
    color: chartreuse;
}

.child .pera{
    color: cadetblue;
}
.pera{
    color: black;
}
p.pera{
    color: burlywood;
}
p{
    color: red;
    color: brown;
}