  a{
            
            margin-top: 7px;
            color: black;
            text-decoration: none;
            
        }
        a:visited{
            color: rgb(21, 8, 192);
        }
        a:hover{
            color: rgb(8, 231, 49);
        }
        a:active{
           color: rgb(239, 170, 85);
            font-size: xx-large;
            background-color: cadetblue;
            padding: 10px;
        }
        a:focus{
            
            color: rgb(239, 170, 85);
            font-size: xx-large;
            background-color: cadetblue;
            padding: 10px;
        }

        .btn{
            text-decoration: none;
            padding: 10px 20px ;
            background-color: red;

        }