        div{
            background-color: aquamarine;
            height: 300px;
            width:500px ;
            
        }
        .main{
            position: relative;
            top: 50px;
            left: 50px;
            z-index 7 : 
        }
        .cc{
            background-color: brown;
            width: 100px;
            height: 100px;
            position: fixed;
            right: 20px;
            bottom:22px;
            border-radius: 20px;
            z-index: 4;
        }
        .child{
            background-color: blueviolet;
            height: 100px;
            width: 100px;
            position: absolute;
            left:50%;
            margin-left: -50px;
            top: 50%;
            margin-top: -50px;
            z-index: 1;
            z-index: 3;
         
        }
        p{
            font-size: xx-large;
        }
        .sti{
            background-color: gold;
            width: 100%;
            height: 100px;
            position: sticky;
            bottom: 0;
            border-radius: 20px;
            z-index: 5;
        }
        .child2{
            background-color: cadetblue;
            height: 70px;
            width: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -35px;
            margin-left: -35px;
            z-index: 2;

        }