*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header{
    height: 55vh;
    background-image: linear-gradient(#38ada9,#60a3bc);
    text-align: center;
    margin: 0px;
}
img{
    width: 100px;
    height: 100px;
    margin-top: 2px 0;

}
h1{
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 50px;
    
}
hr{
    color: rgb(88, 20, 20);
    width: 80%;
    margin: 1px auto;
    border: 1px solid rgb(82, 82, 82);
}
hr.hrone{
    margin-top: 5px;
}
hr.hrtwo{
    margin-bottom: 5px;
}
p{
    font-size: 25px;
}
#round{
    height: 80px;
    width: 80px;
    background-color: rgba(210, 105, 30, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    font-size:x-large;
    text-transform: capitalize;
}






#middle{
    margin: 0px;
    height: 25vh;
    
    text-align: center;
}
#middle h2{
    padding-top: 40px;
    margin: 0px 50px 0px 0px;
    font-size: xx-large;
    
}
#middle p{
    margin-top: 20px;
}







#fourBox{
    
    margin-top: 90px;
    margin: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.box{
   width: 23%; 
   height: auto;
  
}
#img3{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


#main2{
    background-color: #ddd;
    margin-top: 0;
    padding: 0;
}











@media all and (max-width: 400px) {
    
header{
    min-height: 60vh;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 70px;
    height: 70px;
}
h1{
    font-size: xx-large;
    
}
hr{
    display: none;
}
p{
    font-size: large;
    font-weight: 700;
    color:  rgba(85, 58, 39, 0.781);
}
#round{
    height:80px;
    width: 80px;
    margin: 10px auto ;
   
}

#middle h2{
    padding-top: 40px;
    margin: 0px auto;
    font-size: xx-large;
    
}
#middle p{
    margin-top: large;
}


#fourBox{
    margin-top: 120px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    flex-basis: 45%;
}
}



 