body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}
.contact{
    width: 80%;
    border: 2px solid #2c3e50;
    margin: 20px auto;
    padding: 4%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.contact h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
    color: #1289A7;
    text-transform: uppercase;
    text-align: left;
    
}
.contact p{
    color: #324544;
    font-size: larger;
    text-transform: capitalize;
    text-align: left;
}
.contact form{
    margin-top: 25px;
    text-transform: capitalize;

}
.child_form{
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}
.child_form label{
    display: block;
    margin-bottom: 5px;
}
.child_form input,
.child_form select,
.child_form textarea{
    border: 1.5px solid #a5a3a3;
    padding: 12px 3%;
    border-radius: 5px;
    width: 94%;
}
.child_form textarea{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-transform: capitalize;
}
.child_form input[type="button"]{
    width: 200px;
     background-color:#40739e ;
    border: 1px solid #40739e;
    color: white;
    font-size: larger;
    text-transform: capitalize;
    cursor: pointer;
}
.child_form input[type="button"]:hover{
    
    background-color: blueviolet;
    border: 1px solid blueviolet;
}
.child_form select{
    width: 100%;
}
.child_form:last-child{
    margin-bottom: 0;
}